CLIENT_URL=
DATABASE_URL=

GEMINI_API_KEY=

SENDBLUE_API_KEY=
SENDBLUE_SECRET=
SENDBLUE_FROM_NUMBER=
SENDBLUE_WEBHOOK_BASE_URL=
SENDBLUE_WEBHOOK_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

OWNER_PHONE_NUMBER=

JWT_SECRET=
